{% extends 'main.html' %}

{% block coordinates%}

<div class="row d-flex justify-content-center">
    <h1 class="p-3 text-center">
        <a href="/" style="color: inherit; text-decoration: none;">GeoLocator</a>
    </h1>
</div>

<div class="col-12 d-flex justify-content-start">
    <button type="button" class="btn btn-sm btn-primary" onclick="redirectToName()">Name</button>
</div>

<script>
    function redirectToName() {
        window.location.href = "{% url 'homepage' %}";
    }
</script>

<div class="row d-flex justify-content-center">
    <div class="rounded col-sm-8 col-md-6 col-lg-4" >
    
    <form method="post" action="{%url 'coordinates'%}" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>

{% if place_name %}

    <div class="row d-flex justify-content-center">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
              </tr>
            </thead>
                    {% if place_name.name %}
                        <tbody>
                            <tr>
                                <td>{{ place_name.name }}</td>
                                <td>{{ place_name.lat }}</td>
                                <td>{{ place_name.lon }}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                    
        
      </table>
    </div>
{% endif %}


{% endblock %}
