{% extends 'main.html' %}

{% block history %}
<h1>Search history</h1>
<table class="table striped-table text-light">
    <thead>
        <tr>
            <th scope="col text-light">No.</th>
            <th scope="col text-light">Feature Name</th>
            <th scope="col text-light">Latitude</th>
            <th scope="col text-light">Longitude</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history %}  
        <tr>
            <td class="text-light">{{ forloop.counter0|add:history.start_index }}</td>
            <td class="text-light">{{ item.query }}</td>
            <td class="text-light">{{ item.latitude }}</td>
            <td class="text-light">{{ item.longitude }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Display pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if history.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ history.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ history.number }} of {{ history.paginator.num_pages }}.
        </span>

        {% if history.has_next %}
            <a href="?page={{ history.next_page_number }}">next</a>
            <a href="?page={{ history.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
