{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/my_styles.css' %}">
{% endblock %}


{% block content %}
<style>
    /* Center the iframe */
    .map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px
    }

    /* Give the iframe a border */
    .map-frame {
        border: 2px solid #333; /* Adjust the border color and size as needed */
        border-radius: 10px; /* Adjust border radius as needed */
        overflow: hidden; /* Ensure the border is not covered by the iframe */
        width: 700px; /* Set the width of the iframe */
        height: 350px; /* Set the height of the iframe */
    }

    /* Make the iframe fill the container */
    iframe {
        width: 100%;
        height: 100%;
    }
</style>

<div class="row d-flex justify-content-center">
    <h1 class="p-3 text-center">
        <a href="/" style="color: inherit; text-decoration: none;">GeoLocator</a>
    </h1>
</div>

<div class="row d-flex justify-content-center">
    <div class="rounded col-sm-8 col-md-6 col-lg-4" >
        <form method="post" action="{%url 'homepage'%}" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </div>
</div>

{% if queries is none %}
<div class="map-container">
    <div class="map-frame">
        <iframe src="https://api.maptiler.com/maps/basic-v2/?key=BN4670nxjja3u5ALByjq#0.7/16.20423/16.64662" frameborder="0"></iframe>
    </div>
</div>  
{% endif %}

{% if queries is not none %}
<div class="row p-3">
    <div class="col-sm-6 offset-sm-3 border rounded bg-secondary bg-gradient bg-opacity-25">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="p-1">{{ queries.display_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <button class="btn btn-outline-light" onclick="copyToClipboard('{{ queries.lat }}, {{ queries.lon }}')">{{ queries.lat }}, {{ queries.lon }}</button>
                </p>
            </div>
        </div>
    </div>
</div>



    <div class="map-container">
        <div class="map-frame">
            <iframe width="700" height="350" src="https://api.maptiler.com/maps/basic-v2/?key=BN4670nxjja3u5ALByjq#15/{{queries.lat}}/{{queries.lon}}"></iframe>
        </div>
    </div>  

{% elif error is not none %}
    <div class="row d-flex justify-content-start blurred-background text-light">
        <div class="col-md-6">
            <p><strong>{{error}}</strong></p>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
function copyToClipboard(text) {
        const el = document.createElement('textarea');
        el.value = text;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);

        const message = document.createElement('div');
        message.textContent = 'Location coordinates copied to clipboard: ' + text;
        message.classList.add('alert', 'alert-success', 'position-fixed', 'bottom-0', 'end-0', 'mb-4', 'me-4', 'animate__animated', 'animate__slideInRight');
        document.body.appendChild(message);

        setTimeout(function() {
            message.classList.remove('animate__slideInRight');
            message.classList.add('animate__slideOutRight');
            setTimeout(function() {
                document.body.removeChild(message);
            }, 500); // Animation duration is 0.5 seconds (500 milliseconds)
        }, 1000); // Remove the message after 1 second (1000 milliseconds)
    }
</script>
{% endblock %}