{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/my_styles.css' %}">
{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center">
    <h1 class="p-3 text-center">
        <a href="/" style="color: inherit; text-decoration: none;">GeoLocator</a>
    </h1>
</div>

<div class="row d-flex justify-content-center">
    <div class="rounded col-sm-8 col-md-6 col-lg-4" >
        <form method="post" action="{%url 'homepage'%}" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!--{{ stats }}-->
{% if queries is not none %}
    <div class="row d-flex justify-content-start blurred-background text-light">
        <div class="col-md-6">
            <p><strong>Name:</strong> {{ queries.display_name }}</p>
            <p><strong>Latitude:</strong> {{ queries.lat }}</p>
            <p><strong>Longitude:</strong> {{ queries.lon }}</p>
        </div>
    </div>
{% elif queries is none %}
    <div class="row d-flex justify-content-start blurred-background text-light">
        <div class="col-md-6">
            <p><strong>There is an error with input, please input again!</strong></p>
        </div>
    </div>
        
{% endif %}

{% endblock %}